<section class="border-b border-b-gray-300">
  <section class="max-w-5xl  flex items-center justify-between mx-auto">
    <h1 class="text-2xl tracking tracking-widest">PECTOLABS</h1>
    <ul class="flex items-center">
      <li class="mx-5 text-base tracking-wider py-4"><a href="">APPS</a></li>
      <li class="mx-5 text-base tracking-wider py-4"><a href="#stickers-app">STICKER</a></li>
      <li class="mx-5 text-base tracking-wider py-4"><a href="#footer">PRIVACY</a></li>
    </ul>
  </section>
</section>